<div class="header">
  <a href="http://corecloudapp.com">
    <img class="header_icon" src="https://i.imgur.com/1b3nJn0.png" alt="core">
  </a>
  <% if flash[:success] %>
    <div class="notice success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:failure] %>
    <div class="notice failure"><%= flash[:failure] %></div>
  <% end %>
</div>
<div id="container">
  <img class="rotating" src="http://i.imgur.com/CRjP7kU.png">
  
  <div id="login" class="login_container <%=@show_login%>">
    
    <%= form_tag :action=>"check_user" do %>
  
      <%= email_field_tag("email",nil,:placeholder=>"Email",:required=>true) %>
      <%= password_field_tag("password",nil,:placeholder=>"Password",:required=>true) %>
      
      <%= submit_tag("Log In")%>
      <div id="signup_button">Sign Up</div>
      <a id="forgot_pw" href="#">Forgot your login information?</a>
    <% end %>
    
  </div>
  <div id="signup" class="login_container <%=@show_signup%>">
    
    <%= form_tag(:action => "signup") do %>
      <%= text_field_tag("org",nil,:placeholder=>"Organization Name",:required=>true) %>
      <%= text_field_tag("firstname",nil,:placeholder=>"First Name",:required=>true,:class=>"name") %>
      <%= text_field_tag("lastname",nil,:placeholder=>"Last Name",:required=>true,:class=>"name") %>
      <%= email_field_tag("email",nil,:placeholder=>"Enter Email",:required=>true) %>
      <%= password_field_tag("password1",nil,:placeholder=>"Create Password",:required=>true) %>
      
      <%= submit_tag("Sign Up!")%>
      <a class="back" href="#">Back to Login</a>
    <% end %>
    
  </div>
  <div id="pw" class="login_container <%=@show_pw%>">
    <%= form_tag(:action => "pw_mail") do %>
      <%= email_field_tag("email",nil,:placeholder=>"Email",:required=>true) %>
      <%= submit_tag("Get New Password")%>
      <a class="back" href="#">Back to Login</a>
    <% end %>
  </div>
</div>