<div id="popup_wrapper">
  <div id="invite_popup" class="popup">
    <%= form_tag :action=>"invite_user" do %>
      <%= email_field_tag("email",nil,:placeholder=>"Enter Email",:required=>true) %>
      <%= submit_tag("Send Invite") %>
      <a class="cancel">Cancel</a>
    <% end %>
  </div>
  <div id="edit_popup" class="popup">
    <%= form_tag :action=>"change_settings" do %>
      <%= text_field_tag("name",nil,:placeholder=>"Change Name") %>
      <%= email_field_tag("email",nil,:placeholder=>"Change Email") %>
      <%= text_field_tag("position",nil,:placeholder=>"Change Position") %>
      <%= submit_tag("Submit Changes") %>
      <a class="cancel">Cancel</a>
    <% end %>
  </div>
</div>
<div id="container">
  <div id="sidebar">
    <div id="metrics_button" class="menu_button">
      Metrics
    </div>
    <div id="reports_button" class="menu_button">
      Reports
    </div>
    <div id="settings_button" class="menu_button">
      Settings
    </div>
    <% if !!session[:is_admin] %>
      <div id="admin_button" class="menu_button">
        Admin
      </div>
    <% end %>
  </div>
  <div id="main">
    <div class="pane" id="metrics">
      <div id="metrics_container">
        <div id="monthly_sales" class="graph_container fullwidth">
        </div>
        <div id="customer_count" class="graph_container thirdwidth left">
          <div class="number_metric">
            <h1><%= @customer_count %></h1>
            <p>Salesforce Customers</p>
          </div>
        </div>
        <div id="opportunity_count" class="graph_container thirdwidth middle">
          <div class="number_metric">
            <h1><%= @opportunity_count %></h1>
            <p>Salesforce Opportunities</p>
          </div>
        </div>
        <div id="share" class="graph_container thirdwidth right">
          <div class="number_metric">
            <h1><%= @open_invoices_count %></h1>
            <p>Open Quickbooks Invoices</p>
          </div>
        </div>
      </div>
    </div>
    <div class="pane" id="reports">
      <div id="r_button_container">
        <div id="r_CRM" class="app_button r_button">
          <%= image_tag("salesforce.png") %>
        </div>
        <div id="r_accounting" class="app_button r_button">
          <%= image_tag("quickbooks.png") %>
        </div>
        <div id="r_ecommerce" class="app_button r_button">
          <%= image_tag("stripe.png") %>
        </div>
      </div>
      
      <div id="CRM_pane" class="r_app_pane">
        <% SalesforceAccount.all.each do |account| %>
          <%= account.name %><br>
        <% end %>
      </div>
      <div id="accounting_pane" class="r_app_pane">
        
      </div>
      <div id="ecommerce_pane" class="r_app_pane">
        
      </div>
    </div>
    <div class="pane" id="settings">
      <div id="settings_container">
        <div id="avatar" class="user_item">
          <a href='https://en.gravatar.com/site/login'>
            <div id="edit_avatar">Edit</div>
          </a>
          <%= image_tag gravatar_large(session[:email]) %>
        </div>
        <div id="profile_info">
          <h2><%= session[:name] %><div id="edit_settings">Edit</div></h2>
          <h4><%= session[:position] %></h4>
          <h4><%= session[:org] %></h4>
        </div>
      </div>
    </div>
    <% if !!session[:is_admin] %>
      <div class="pane" id="admin">
        <div id="admin_container">
          <h2>Applications</h2>
          <ul id="app_wrapper" class="wrapper">
            <li>
                <a href="#">
                <div id="a_CRM" class="admin_app_button not_connected">
                  <%= image_tag("salesforce.png") %>
                </div>
              </a>
              <%if !@connected_to_salesforce%>
                <p class="not_connected_text">Not connected</p>
              <%end%>
            </li>
            <li>
                <a href="#">
                <div id="a_accounting" class="admin_app_button not_connected">
                  <%= image_tag("quickbooks.png") %>
                </div>
              </a>
              <%if !@connected_to_quickbooks%>
                <p class="not_connected_text">Not connected</p>
              <%end%>
            </li>
            <li>
                <a href="#">
                <div id="a_ecommerce" class="admin_app_button not_connected">
                  <%= image_tag("stripe.png") %>
                </div>
              </a>
              <%if !@connected_to_stripe%>
                <p class="not_connected_text">Not connected</p>
              <%end%>
            </li>
        </ul>
          <h2>Users</h2>
          <ul class="wrapper users_wrapper">
            <% User.where(org: @org).all.each do |u|%>
            <li>
              <div class="user_container">
                <p><%= u.name %></p>
                <div class="item user_item">
                  <%= image_tag gravatar_small(u.email) %>
                </div>
              </div>
            </li>
            <% end %>
            </ul>
            <ul id="add_button" class="wrapper">
              <div class="user_container">
                <div class="item" id="invite_user">
                  <div class="plus">+</div>
                </div>
              </div>
            </ul>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>